mypy==0.740
mypy-extensions==0.4.1
typing==3.6.4
typing-extensions==3.7.4
flake8==3.7.8
flake8-annotations-complexity==0.0.2
flake8-blind-except==0.1.1
flake8-broken-line==0.1.1
flake8-bugbear==19.8.0
flake8-builtins==1.4.1
flake8-commas==2.0.0
flake8-comprehensions==3.0.0
flake8-debugger==3.2.0
flake8-docstrings==1.5.0
flake8-functions==0.0.1
flake8-polyfill==1.0.2
flake8-print==3.1.1
flake8-quotes==2.1.0
flake8-string-format==0.2.3
flake8-todo==0.7
flake8-variables-names==0.0.2
pytest==4.2.0
pytest-cov==2.6.1
attrs==19.1.0
astpretty==1.6.0
cognitive_complexity==0.0.3
